<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Images/ITP App Artwork 72 x 72.png</string>
		<string>Images/ITP App Artwork 144 x 144.png</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>3.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>CFBundleDisplayName</key>
	<string>SESITPApp</string>
	<key>CFBundleIdentifier</key>
	<string>au.com.silcar.itpapp</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
</dict>
</plist>
